{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>{{ mainText|linebreaks }}</p>
        <ul>
            <img src="{% static 'main/img/haptic.png' %}">
            <h5>{{ coolThing1|linebreaks }}</h5>
            <img src="{% static 'main/img/artificial-intelligence.png' %}">
            <h5>{{ coolThing2|linebreaks }}</h5>
            <img src="{% static 'main/img/thinking.png' %}">
            <h5>{{ coolThing3|linebreaks }}</h5>
        </ul>
        <a href='courses'><button class="btn btn-outline-warning">Смотреть курсы</button></a>
    </div>
{% endblock %}


